.is-hidden {
  display: none;
}
.number__title {
  display: inline-block;
  margin-right: 5px;
}
.ui.form .field .number__input {
  width: 60px;
  font-size: 20px;
  line-height: 1;
  padding: 5px 10px;
}
.form--number {
  display: inline-block;
  vertical-align: top;
  margin-top: -3px;
}
